<h1>Liste des produits</h1>
<form method="GET">
    <input type="text" name="search" placeholder="Rechercher par nom" value="{{ request.GET.search }}">
    <button type="submit">Rechercher</button>
</form>
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Quantité en stock</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }} €</td>
                <td>{{ produit.quantite_stock }}</td>
                <td>
                    <a href="{% url 'modifier_produit' produit.pk %}">Modifier</a> |
                    <a href="{% url 'supprimer_produit' produit.pk %}">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    
</table>
<p></p>
<a href="{% url 'ajouter_produit' %}">Ajouter un produit</a>
<p></p>
<div>
    <a href="{% url 'profile' %}">
        <button type= "button">Retour au profil</button>
    </a>
</div>
    