<h1>Liste des commandes</h1>
<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Type de transaction</th>
            <th>Quantité</th>
            <th>Montant total</th>
        </tr>
    </thead>
    <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.produit.nom }}</td>
                <td>
                    {% if commande.type == 'achat' %}
                        Achat
                    {% else %}
                        Vente
                    {% endif %}
                </td>
                <td>{{ commande.quantite }}</td>
                <td>{{ commande.montant_total }} €</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'enregistrer_commande' %}">Enregistrer une commande</a>
<div>
    <a href="{% url 'profile' %}">
        <button type="button">Retour au profil</button>
    </a>
</div>